In [6]:
import pandas as pd

In [9]:
df = pd.read_csv('socialbuzz.csv')
df

,Unnamed: 0_x,Content ID,Type,Datetime,Content Type,Category,Sentiment,Score
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,11/7/2020 9:43,photo,Studying,negative,0
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,6/17/2021 12:22,photo,Studying,negative,10
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,4/18/2021 5:13,photo,Studying,negative,15
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,1/6/2021 19:13,photo,Studying,negative,0
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,8/23/2020 12:25,photo,Studying,positive,30
...,...,...,...,...,...,...,...,...
24568,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,6/27/2020 9:46,audio,technology,negative,10
24569,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2/16/2021 17:17,audio,technology,positive,45
24570,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,9/12/2020 3:54,audio,technology,negative,30
24571,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,11/4/2020 20:08,audio,technology,negative,12
24572,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,1/4/2021 4:55,audio,technology,positive,70

In [10]:

count = df['Category'].value_counts()['Studying']
print("Count of specific element:", count)

Count of specific element: 45

In [11]:

unique_counts = df['Category'].value_counts()
print("Count of all unique elements in the column:")
print(unique_counts)

Count of all unique elements in the column:
Category
animals            1805
healthy eating     1711
technology         1695
science            1680
cooking            1664
culture            1635
travel             1618
food               1608
education          1397
soccer             1392
dogs               1338
tennis             1328
studying           1318
fitness            1257
veganism           1237
public speaking    1185
Fitness             138
Science             116
Animals              92
Food                 91
Soccer               65
Studying             45
Culture              41
Education            36
Public Speaking      32
Travel               29
Veganism             11
Healthy Eating        6
Technology            3
Name: count, dtype: int64

In [13]:

unique_counts = df['Content Type'].value_counts()
print("Count of all unique elements in the column:")
print(unique_counts)

Count of all unique elements in the column:
Content Type
photo    6589
video    6245
GIF      6079
audio    5660
Name: count, dtype: int64